::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-base-100);
}

::-webkit-scrollbar-thumb {
    background: var(--color-base-content);
    border-radius: 12px;
    margin-left: 2px;
    margin-right: 2px;
}